{% extends 'layout.html.twig' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'welcome_dunkerque.title'|trans }}</h3>
        </div>
        <div class="panel-body">
            {{ 'welcome_dunkerque.body'|trans }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">{{ render(controller('AppBundle:Default:lastPublicRepositories')) }}</div>
        <div class="col-md-4">{{ render(controller('AppBundle:Default:mostStaredRepositories')) }}</div>
        <div class="col-md-4">{{ render(controller('AppBundle:Default:mostPulledRepositories')) }}</div>
    </div>

{% endblock %}
