<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">Dunkerque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('account', {account: app.user.username}) }}">
                            <span class="glyphicon glyphicon-home"></span>
                            {{ 'welcome_user'|trans({'%username%': app.user.username}) }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% endif %}
                </li>
            </ul>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
